<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC3ak_NGeeK9ydDeW7XY3Yj-i87xokP8Bs</string>
	<key>GCM_SENDER_ID</key>
	<string>967754527962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>YesITLab.Slodoggies-App</string>
	<key>PROJECT_ID</key>
	<string>slodoggies</string>
	<key>STORAGE_BUCKET</key>
	<string>slodoggies.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:967754527962:ios:117d9ff787d7e7cfe921e3</string>
</dict>
</plist>